.weekly-calendar {
    display: grid;
    width: 100%;
    overflow: auto;
    grid-template-columns:50px repeat(7,170px);
}
.all-day-grid {
    display: grid;
    height: 100px;
    grid-row-start: 2;
    grid-column: 1 / span 8;
    grid-template-rows: repeat(5,20%);
    grid-template-columns: 50px repeat(7,minmax(170px,170px))
}


.day-column {
    display: flex;
    flex-flow: column;
    /*grid-row-start: 3;*/
}

.day-header-column {
    display: flex;
    flex-flow: column;
}

.day-header {
    grid-area: 1 / 1 / span 1 / span 2;
    background: #E6E6FA;
    display:grid;
}

.day-cellule:hover {
    font-weight: 600;
}

.hours {
    border: 1px solid #c6c6c6;
    flex: 1;
    display: grid;
    justify-content: stretch;
}

.hour {
    grid-column-start: 1;
    font-size: 0.8em;
    padding-left: 0.5em;
}

.hour-task {
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px;
}

@media only screen and (max-width: 587px) {

    .day-cellule {
        font-size: 0.6em;
        padding-left: 0.3em;
    }

    .header-name {
        line-height:3vh;
    }
}