@using System.Globalization
@using BlazorCalendar.Models
@using BlazorCalendar.Models.ViewModel
@using BlazorCalendar.Services
@using BlazorCalendar.Styles
@using BlazorCalendar.CalendarComponents


@inherits CalendarBase

<div class="weekly-calendar" style="@Style">

    <TimeSideBarVM TimeSideBar="WeekCalendar.TimeSideBar ">
    </TimeSideBarVM>

    @for (int i = 0; i < WeekCalendar.DayHeader.Count; i++)
    {
        <div class="day-header-column" style="grid-column-start: @(i+2);">
            <DayHeaderVM DayHeader="WeekCalendar.DayHeader[i]">
            </DayHeaderVM>
        </div>
    }

    <AllDayTasksVM DayClick="DayClick"
                   Draggable="Draggable"
                   DragStart="DragStart"
                   DropTask="DropTask"
                   EmptyDayClick="EmptyDayClick"
                   TaskClick="TaskClick"
                   AllDay="WeekCalendar.AllDay">
    </AllDayTasksVM>

    @for (int i = 0; i < WeekCalendar.DayCalendar.Count; i++)
    {
        <div class="day-column" style="grid-column-start: @(i+2);">
            <DayColumnVM DayCalendar="WeekCalendar.DayCalendar[i]"
                         Draggable="Draggable"
                         DragStart="HandleDragStart"
                         DropTask="HandleDayOnDrop"
                         EmptyDayClick="EmptyDayClick"
                         TaskClick="TaskClick"
                         DayClick="DayClick">
            </DayColumnVM>
        </div>
    }

</div>

@code {

    public int NumberOfDays { get; set; } = 7;

    [Parameter]
    public WeekCalendarViewModel WeekCalendar { get; set; } = new WeekCalendarViewModel();

    [CascadingParameter(Name = "SelectedView")]
    public DisplayedView DisplayedView { get; set; } = DisplayedView.Weekly;

    [CascadingParameter(Name = "TasksList")]
    public List<Tasks>? TasksList { get; set; }

    [Parameter]
    public PriorityLabel PriorityDisplay { get; set; } = PriorityLabel.Code;

    [Parameter]
    public bool HighlightToday { get; set; } = false;

    [Parameter]
    public EventCallback<int> OutsideCurrentMonthClick { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> DayClick { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> EmptyDayClick { get; set; }

    [Parameter]
    public EventCallback<ClickTaskParameter> TaskClick { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DragStart { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropTask { get; set; }

    private Tasks? TaskDragged;
    private async Task HandleDragStart(DragDropParameter dragDropParameter)
    {
        TaskDragged = new Tasks()
            {
                ID = dragDropParameter.taskID
            };

        await DragStart.InvokeAsync(dragDropParameter);
    }

    private async Task HandleDayOnDrop(DragDropParameter dragDropParameter)
    {
        if (!Draggable)
            return;

        if (TaskDragged is null)
            return;

        await DropTask.InvokeAsync(dragDropParameter);

        TaskDragged = null;
    }
    private async Task ClickDayInternal(ClickEmptyDayParameter clickEmptyDayParameter)
    {
        if (!DayClick.HasDelegate)
            return;

        await DayClick.InvokeAsync(clickEmptyDayParameter);
    }

    private async Task ClickTaskInternal(ClickTaskParameter clickTaskParameter)
    {
        if (!TaskClick.HasDelegate)
            return;

        await TaskClick.InvokeAsync(clickTaskParameter);
    }
}