@using System.Globalization
@using BlazorCalendar.Models
@using BlazorCalendar.Models.ViewModel
@using BlazorCalendar.Models.ViewModel.Interfaces
@using BlazorCalendar.Services
@using BlazorCalendar.Styles


@inherits CalendarBase

<div class="weekly-calendar" style="@Style">

    <TimeSideBar TimeSideBarViewModel="WeekCalendarViewModel.TimeSideBar ">
    </TimeSideBar>

    @for (int i = 0; i < WeekCalendarViewModel.DayHeader.Count; i++)
    {
        <div class="day-header-column" style="grid-column-start: @(i+2);">
            <DayHeaderVM DayHeader="WeekCalendarViewModel.DayHeader[i]">
            </DayHeaderVM>
        </div>
    }

    <AllDayTasks DayClick="DayClick"
                   Draggable="Draggable"
                   DragStart="DragStart"
                   DropTask="DropTask"
                   DropTaskAllDay="DropTaskAllDay"
                   EmptyDayClick="EmptyDayClick"
                   TaskClick="TaskClick"
                 AllDay="WeekCalendarViewModel.AllDay">
    </AllDayTasks>

    @for (int i = 0; i < WeekCalendarViewModel.DayCalendar.Count; i++)
    {
        <div class="day-column" style="grid-column-start: @(i+2);">
            <DayCalendar DayCalendarViewModel="WeekCalendarViewModel.DayCalendar[i]"
                         Draggable="Draggable"
                         DragStart="DragStart"
                         DropTask="DropTask"
                         EmptyDayClick="EmptyDayClick"
                         TaskClick="TaskClick"
                         DayClick="DayClick">
            </DayCalendar>
        </div>
    }

</div>

@code {
    protected override void OnInitialized()
    {
        WeekCalendarViewModel = (WeekCalendarViewModel)CalendarViewModel;
    }

    private WeekCalendarViewModel WeekCalendarViewModel { get; set; }

    [Parameter]
    public ICalendarView CalendarViewModel { get; set; }

    [Parameter]
    public TimeDivisionEnum TimeDivisionEnum { get; set; }

    [Parameter]
    public bool HighlightToday { get; set; } = false;

    [Parameter]
    public EventCallback<int> OutsideCurrentMonthClick { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> DayClick { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> EmptyDayClick { get; set; }

    [Parameter]
    public EventCallback<ClickTaskParameter> TaskClick { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DragStart { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropTask { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropTaskAllDay { get;set; }


}