.hour {
    grid-column-start: 1;
    font-size: 0.8em;
    padding-left: 0.5em;
    height: 24px;
    border-bottom: 1px solid #ccc;
}

#dropZone {
    transition: background-color 0.3s ease-in-out;
}

    #dropZone:hover {
        background-color: #f0f0f0 !important; /* Example of color change animation */
    }

.hour:hover {
    background-color: #f0f0f0 !important;
}
.hour {
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 5px;
    text-align: right;
    font-size: 0.8em;
    color: #6c757d;
}