.all-day-hour {
    grid-column-start: 1;
    font-size: 0.8em;
    padding-left: 0.6em;
    border: 1px solid #ccc;
    background: #f8f9fa;
    transition: background-color 0.3s ease-in-out;
}

.all-day-hour:hover {
    background-color: #f0f0f0 !important;
}