.weekly-calendar {
    display: grid;
    width: 100%;
    overflow: auto;
    grid-template-columns:50px repeat(7,minmax(30px,150px));
    justify-content:center;
}

@media only screen and (max-width: 587px) {

    .day-cellule {
        font-size: 0.6em;
        padding-left: 0.3em;
    }

    .header-name {
        line-height:3vh;
    }
}