@using BlazorCalendar.Models
@using BlazorCalendar.Models.WeekViewModels
@using BlazorCalendar.Styles
@using BlazorCalendar.CalendarComponenets

<div class="all-day-grid allDay-column">
    <div class="title" style="grid-row: 1 / span 7; grid-column-start: 1; font-size:small"></div>
    @foreach (var timeCellViewModel in AllDayViewModel.TimeCells)
    {
        <WeekTimeCellAllDay DayClick="DayClick"
                      Draggable="Draggable"
                      DropEventOnAllDay="DropEventOnAllDay"
                      TimeCellViewModel="timeCellViewModel">
        </WeekTimeCellAllDay>
    }

    @if (AllDayViewModel.GridItems is not null && AllDayViewModel.GridItems.Count != 0)
    {
        @foreach (var gridItem in AllDayViewModel.GridItems)
        {
            <WeekGridItem GridItemViewModel="gridItem"
                      Draggable="Draggable"
                      DragStart="DragStart"
                      EventClick="EventClick">
            </WeekGridItem>
        }
    }
</div>

@code {
    [Parameter]
    public WeekAllDayViewModel AllDayViewModel { get; set; }

    [Parameter]
    public bool Draggable { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> DayClick { get; set; }

    [Parameter]
    public EventCallback<ClickTaskParameter> EventClick { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DragStart { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropEventOnAllDay { get; set; }
}
