
<div class="day-header header-name noselect" style="@HeaderStyle; border:1px solid #ccc; width:170px"
     ondragover="event.preventDefault();this.style.fontWeight = '600';"
     ondragleave="this.style.fontWeight='100';"
     @ondrop:preventDefault="true">

    @DayName @DayDate

</div>

@code {

    public string[] dayNames = { "Ned", "Pon", "Uto", "Sre", "Čet", "Pet", "Sub" };

    [Parameter]
    public string DayName { get; set; }

    [Parameter]
    public string DayDate { get; set; }

    [Parameter]
    public string HeaderText { get; set; }

    [Parameter]
    public string HeaderStyle { get; set; }
}
