
<div style="grid-column-start: 1; ">

    <div class="day-header header-name noselect" style="border:1px solid #ccc;"
         ondragover="event.preventDefault();this.style.fontWeight = '600';"
         ondragleave="this.style.fontWeight='100';"
         @ondrop:preventDefault="true">
        <span>Vreme</span>
    </div>

</div>
<div class="hour-grid" style="grid-column-start:1; grid-row-start:3">

    @for (int dayTime = 0; dayTime < 24 * Multiplyer; dayTime++)
    {
        Time = DateTime.Today.AddMinutes(dayTime * Minutes);
        Time.AddMinutes(dayTime * Minutes);
        <div class="hour noselect" style="text-align:center; height:50px">
            @Time.ToString("HH:mm")
        </div>
    }
</div>

@code {

    public DateTime Time { get; set; }

    [Parameter]
    public int Minutes { get; set; }

    [Parameter]
    public decimal Multiplyer { get; set; }
}
