.daily-calendar-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.daily-calendar {
    display: grid;
    width: 70%;
    overflow: auto;
    grid-template-columns: 1fr 6fr;
}

@media only screen and (max-width: 587px) {

    .day-cellule {
        font-size: 0.6em;
        padding-left: 0.3em;
    }

    .header-name {
        line-height: 3vh;
    }
}
