@using BlazorCalendar.Models
@using BlazorCalendar.Models.DayViewModels
@using BlazorCalendar.Services
@using BlazorCalendar.Styles

@inject TasksService TasksService

<div class="ddayGrid">

    @foreach (var timeCellViewModel in DayViewModel.TimeCellsViewModel)
    {
        <DTimeCell DayClick="DayClick"
                  Draggable="Draggable"
                  DropEventOnDay="DropEventOnDay"
                  TimeCellViewModel="timeCellViewModel">
        </DTimeCell>
    }

    @if (DayViewModel.GridItemsViewModel is not null && DayViewModel.GridItemsViewModel.Count != 0)
    {
        foreach (var gridItem in DayViewModel.GridItemsViewModel)
        {
            <DGridItem GridItemViewModel="gridItem"
                      Draggable="Draggable"
                      DragStart="DragStart"
                      EventClick="EventClick">
            </DGridItem>
        }
    }
</div>

@code {

    public int MaxNumberOfColumnsInDay { get; set; }

    [Parameter]
    public DDayViewModel DayViewModel { get; set; }

    [Parameter]
    public bool Draggable { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> DayClick { get; set; }

    [Parameter]
    public EventCallback<ClickTaskParameter> EventClick { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DragStart { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropEventOnDay { get; set; }
}
