@using BlazorCalendar.Models
@using BlazorCalendar.Models.Interfaces
@using BlazorCalendar.Models.DayViewModels

@inject ITaskDraggedService TaskDraggedService

<div class="@($"hour-list-task {GridItemListViewModel.ClassPin}{GridItemListViewModel.ClassPointer} border-start border-top border-bottom")"
     style="@GridItemListViewModel.CSSGridPosition @GridItemListViewModel.EventColor"
     draggable="@Draggable.ToString()"
     @onclick="e => ClickEventInternal(e, GridItemListViewModel.GridItemsViewModel, GridItemListViewModel.Day)">
    + @NumberOfAdditionalEvents
</div>

@code {
    [Parameter]
    public DGridItemListViewModel GridItemListViewModel { get; set; }

    [Parameter]
    public int NumberOfAdditionalEvents { get; set; }

    [Parameter]
    public bool Draggable { get; set; }

    [Parameter]
    public EventCallback<ClickTaskParameter> EventClick { get; set; }

    private async Task ClickEventInternal(MouseEventArgs e, List<DGridItemViewModel> items, DateTime day)
    {
        if (!EventClick.HasDelegate)
            return;

        List<int> listID = new();

        foreach (var item in items)
        {
            listID.Add(item.Event.ID);
        }

        ClickTaskParameter clickTaskParameter = new()
            {
                IDList = listID,
                X = e.ClientX,
                Y = e.ClientY,
                Day = day
            };

        await EventClick.InvokeAsync(clickTaskParameter);
    }
}
