@using BlazorCalendar.Models
@using BlazorCalendar.Models.ViewModel
@using BlazorCalendar.Styles
@using BlazorCalendar.CalendarComponenets


<div class="all-day-grid">
    <div class="title" style="grid-row-start: 1; grid-column-start: 1; font-size:small">All day</div>
    @foreach (var timeCellViewModel in AllDay.TimeCells)
    {
        <TimeCell DayClick="DayClick"
                  Draggable="Draggable"
                  DropEventOnAllDay="DropEventOnAllDay"
                  TimeCellViewModel="timeCellViewModel">
        </TimeCell>
    }

    @if(AllDay.GridItems is not null && AllDay.GridItems.Count != 0)
    {
        @foreach(var item in AllDay.GridItems)
        {
            <GridItem GridItemViewModel="item"
                      Draggable="Draggable"
                      DragStart="DragStart"
                      EventClick="EventClick">
            </GridItem>
        }
    }
</div>
@code {

    [Parameter]
    public AllDayViewModel AllDay { get; set; }

    [Parameter]
    public bool Draggable { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> DayClick { get; set; }

    [Parameter]
    public EventCallback<ClickTaskParameter> EventClick { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DragStart { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropEventOnAllDay { get; set; }
}
