@using BlazorCalendar.Models
@using BlazorCalendar.Models.ViewModel
@using BlazorCalendar.Models.Interfaces
@using System.Globalization
@using BlazorCalendar.Services
@using BlazorCalendar.CalendarComponenets.NavigationComponent

@inherits CalendarBase

@inject TasksService TasksService
@inject ICalendarViewFactory CalendarViewFactory

<CalendarNavigation SelectedViewType="SelectedViewType"
                    ClicMonthNavigate="ClicMonthNavigate"
                    FirstDateCallBack="ChangeFirstDate"
                    GoTodayCallBack="GoToday"
                    ClickTimeDivision="HandleTimeDivisionChanged">
</CalendarNavigation>

@if (SelectedViewType == DisplayedView.Weekly)
{
    <WeekView Draggable="Draggable"
              HighlightToday="true"
              TimeDivisionEnum="TimeDivisionEnum"
              CalendarViewModel="CalendarViewModel">
    </WeekView>
}
else if (SelectedViewType == DisplayedView.Daily)
{
    <div>Daily View</div>
}

@code {
    public DateTime FirstDate { get; set; }

    public TimeDivisionEnum TimeDivisionEnum { get; set; } = TimeDivisionEnum.Hour;

    public ICalendarView CalendarViewModel { get; set; }

    [Parameter]
    public DisplayedView SelectedViewType { get; set; } = DisplayedView.Weekly;

    protected override void OnInitialized()
    {
        FirstDate = DateTime.Today;
        CalendarViewModel = CalendarViewFactory.CreateCalendarView(SelectedViewType, FirstDate, TimeDivisionEnum);

    }

    protected override void OnParametersSet()
    {
        CalendarViewModel = CalendarViewFactory.CreateCalendarView(SelectedViewType, FirstDate, TimeDivisionEnum);
    }

    private void ChangeFirstDate(string value)
    {
        if (string.IsNullOrEmpty(value)) return;
        FirstDate = DateTime.Parse(value.ToString());
        RefreshCalendarModel();
    }

    private void GoToday()
    {
        FirstDate = DateTime.Today;
        RefreshCalendarModel();
    }

    private void ClicMonthNavigate(int daysToAdd)
    {
        FirstDate = FirstDate.AddDays(daysToAdd);
        RefreshCalendarModel();
    }

    private void RefreshCalendarModel()
    {
        CalendarViewModel = CalendarViewFactory.CreateCalendarView(SelectedViewType, FirstDate, TimeDivisionEnum);
        StateHasChanged();
    }

    private Task HandleTimeDivisionChanged(TimeDivisionEnum newTimeDivision)
    {
        TimeDivisionEnum = newTimeDivision;
        RefreshCalendarModel();
        return Task.CompletedTask;
    }
}

