@using BlazorCalendar.Models
@using BlazorCalendar.Models.ViewModel
@using BlazorCalendar.Services
@using BlazorCalendar.Styles

@inject TasksService TasksService

<div class="dayGrid">

    @foreach (var timeCellViewModel in DayCalendarViewModel.TimeCells)
    {
        <TimeCell DayClick="DayClick"
                  Draggable="Draggable"
                  DropEventOnDay="DropEventOnDay"
                  TimeCellViewModel="timeCellViewModel">
        </TimeCell>
    }

    @if (DayCalendarViewModel.GridItems is not null && DayCalendarViewModel.GridItems.Count != 0)
    {
        foreach (var gridItem in DayCalendarViewModel.GridItems)
        {
            <GridItem GridItemViewModel="gridItem"
                      Draggable="Draggable"
                      DragStart="DragStart"
                      EventClick="EventClick">
            </GridItem>
        }
    }
</div>

@code {

    public int MaxNumberOfColumnsInDay { get; set; }

    [Parameter]
    public DayCalendarViewModel DayCalendarViewModel { get; set; }

    [Parameter]
    public bool Draggable { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> DayClick { get; set; }

    [Parameter]
    public EventCallback<ClickTaskParameter> EventClick { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DragStart { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropEventOnDay { get; set; }
}
