@using BlazorCalendar.Models
@using BlazorCalendar.Models.ViewModel

@inject ITaskDraggedService TaskDraggedService

<div class="hour day-cellule noselect"
     ondragover="event.preventDefault();this.style.fontWeight = '600';"
     ondragleave="this.style.fontWeight='100';"
     @ondrop:preventDefault="true"
     @ondrop="() => HandleDayOnDrop(TimeCellViewModel.Time)"
     @onclick="e => ClickDayInternal(e, TimeCellViewModel.Time)"
     style="@TimeCellViewModel.CSSbackground; @CssGriPosition()">
</div>

@code {
    [Parameter]
    public TimeCellViewModel TimeCellViewModel { get; set; }

    [Parameter]
    public bool Draggable { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropTask { get; set; }

    [Parameter]
    public EventCallback<DragDropParameter> DropTaskAllDay { get; set; }

    [Parameter]
    public EventCallback<ClickEmptyDayParameter> DayClick { get; set; }

    private Tasks TaskDragged => TaskDraggedService.TaskDragged;

    private async Task HandleDayOnDrop(DateTime day)
    {
        if (!Draggable)
            return;

        if (TaskDragged is null)
            return;

        DragDropParameter dragDropParameter = new()
            {
                Day = day,
                taskID = TaskDragged.ID
            };

        if (TimeCellViewModel.IsAllDayTimesCell)
            await DropTaskAllDay.InvokeAsync(dragDropParameter);
        else
            await DropTask.InvokeAsync(dragDropParameter);
    }

    private async Task ClickDayInternal(MouseEventArgs e, DateTime day)
    {
        if (!DayClick.HasDelegate)
            return;

        ClickEmptyDayParameter clickEmptyDayParameter = new()
            {
                Day = day,
                X = e.ClientX,
                Y = e.ClientY
            };

        await DayClick.InvokeAsync(clickEmptyDayParameter);
    }

    private string CssGriPosition()
    {
        if (TimeCellViewModel.IsAllDayTimesCell)
        {
            return $"grid-row:1 / span 5; grid-column-start:{TimeCellViewModel.Column}; height:100px; border-right:1px solid #ccc";
        }
        else
        {
            return $"grid-row:{TimeCellViewModel.Row}; grid-column:1 / span {TimeCellViewModel.ColumnsSpan};";
        }
    }
}
