@using System.Globalization
@using BlazorCalendar.Models
@using BlazorCalendar.Models.ViewModel
@using BlazorCalendar.Models.Interfaces
@using BlazorCalendar.Services
@using BlazorCalendar.Styles

@inherits CalendarBase
@inject TasksService TasksService

<div class="weekly-calendar" style="@Style">

    <TimeSideBar TimeSideBarViewModel="WeekCalendarViewModel.TimeSideBar ">
    </TimeSideBar>

    @for (int i = 0; i < WeekCalendarViewModel.DayHeader.Count; i++)
    {
        <div class="day-header-column" style="grid-column-start: @(i+2);">
            <DayHeader DayHeaderViewModel="WeekCalendarViewModel.DayHeader[i]">
            </DayHeader>
        </div>
    }

    <AllDayTasks DayClick="DayClick"
                 Draggable="Draggable"
                 DragStart="DragStart"
                 DropEventOnAllDay="DropEventOnAllDay"
                 EventClick="EventClick"
                 AllDay="WeekCalendarViewModel.AllDay">
    </AllDayTasks>

    @for (int i = 0; i < WeekCalendarViewModel.DayCalendar.Count; i++)
    {
        <div class="day-column" style="grid-column-start: @(i+2);">
            <DayCalendar DayCalendarViewModel="WeekCalendarViewModel.DayCalendar[i]"
                         Draggable="Draggable"
                         DragStart="DragStart"
                         DropEventOnDay="DropEventOnDay"
                         EventClick="EventClick"
                         DayClick="DayClick">
            </DayCalendar>
        </div>
    }
</div>

<br />
<div class="console">@fakeConsole</div>

@code {
    private string fakeConsole = "";

    protected override void OnInitialized()
    {
        WeekCalendarViewModel = (WeekCalendarViewModel)CalendarViewModel;
    }

    protected override void OnParametersSet()
    {
        WeekCalendarViewModel = (WeekCalendarViewModel)CalendarViewModel;
    }

    private WeekCalendarViewModel WeekCalendarViewModel { get; set; }

    [Parameter]
    public ICalendarView CalendarViewModel { get; set; }

    [Parameter]
    public TimeDivisionEnum TimeDivisionEnum { get; set; }

    [Parameter]
    public bool HighlightToday { get; set; } = false;

    private void EventClick(ClickTaskParameter clickTaskParameter)
    {
        fakeConsole = "ID Event(s) :" + string.Join(", ", clickTaskParameter.IDList);
    }

    private void DayClick(ClickEmptyDayParameter clickEmptyDayParameter)
    {
        fakeConsole = $"Empty day :{clickEmptyDayParameter.Day.ToShortDateString()}  {clickEmptyDayParameter.Day.ToShortTimeString()}";
    }

    private void DragStart(DragDropParameter dragDropParameter)
    {
        fakeConsole = $"DragStart event : {dragDropParameter.taskID}";
    }

    private void DropEventOnDay(DragDropParameter dragDropParameter)
    {
        fakeConsole = $"DropEvent event :{dragDropParameter.Day.ToShortDateString()} {dragDropParameter.taskID}";

        var droppedTask = WeekCalendarViewModel.Tasks.FirstOrDefault(t => t.ID == dragDropParameter.taskID);

        var DayCalendarDropped = WeekCalendarViewModel.DayCalendar.FirstOrDefault(x => x.Day.Date == dragDropParameter.Day.Date);
        var DayCalendarDragged = WeekCalendarViewModel.DayCalendar.FirstOrDefault(x => x.Day.Date == droppedTask.DateStart.Date);

        var gridItemMoved = DayCalendarDragged.GridItems.Where(x => x.Event.ID == droppedTask.ID).FirstOrDefault();

        DayCalendarDropped.GridItems.Add(gridItemMoved);
        DayCalendarDragged.GridItems.Remove(gridItemMoved);

        var TotalDay = (droppedTask.DateEnd - droppedTask.DateStart).TotalDays;

        droppedTask.DateEnd = dragDropParameter.Day.AddDays(TotalDay);
        droppedTask.DateStart = dragDropParameter.Day;

        WeekCalendarViewModel.DayCalendar.ForEach(x => x.GridItems = TasksService.GetGridItemsForDayComponent(TasksService.GetTasksForDayViewModel(x.Day, WeekCalendarViewModel.Tasks, TimeDivisionEnum), new TimeDivision(TimeDivisionEnum).Minutes));

        if (DayCalendarDropped.GridItems.Count != 0)
            DayCalendarDropped.MaxNumberOfColumns = DayCalendarDropped.GridItems.Max(x => x.ColumnStart);

        if (DayCalendarDragged.GridItems.Count != 0)
            DayCalendarDragged.MaxNumberOfColumns = DayCalendarDragged.GridItems.Max(x => x.ColumnStart);

        // da dobijem duzinu TimeCell-a u zavisnosti koliko ima taskova
        DayCalendarDragged.TimeCells.ForEach(x => x.ColumnsSpan = DayCalendarDragged.MaxNumberOfColumns);
        DayCalendarDropped.TimeCells.ForEach(x => x.ColumnsSpan = DayCalendarDropped.MaxNumberOfColumns);
    }

    private void DropEventOnAllDay(DragDropParameter dragDropParameter)
    {
        var droppedTask = WeekCalendarViewModel.AllDay.Events.FirstOrDefault(x => x.ID == dragDropParameter.taskID);

        if (droppedTask != null)
        {
            var TotalDay = (droppedTask.DateEnd - droppedTask.DateStart).TotalDays;

            droppedTask.DateEnd = dragDropParameter.Day.AddDays(TotalDay);
            droppedTask.DateStart = dragDropParameter.Day;

            WeekCalendarViewModel.AllDay.GridItems = TasksService.GetGridItemsForAllDayComponent(WeekCalendarViewModel.AllDay.Events, WeekCalendarViewModel.AllDay.FirstDateWeek);
        }
    }
}