@using BlazorCalendar.Models.WeekViewModels

<div class="day-header header-name noselect" style="@DayHeaderViewModel.HeaderStyle;"
     ondragover="event.preventDefault();this.style.fontWeight = '600';"
     ondragleave="this.style.fontWeight='100';"
     @ondrop:preventDefault="true">

    @DayHeaderViewModel.DayName @DayHeaderViewModel.DayDate

</div>

@code {
    [Parameter]
    public WeekDayHeaderViewModel DayHeaderViewModel { get; set; }
}
